<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.guoan.dao.shequ.SysServiceProviderMapper" >
  
  <select id="getProviderListByTypeAndArea" resultType="java.util.HashMap" parameterType="map" >
  	SELECT DISTINCT
		p.id,
		p.name
	FROM
		t_sys_service_provider p,
		t_sys_provider_area a
	WHERE
		p.type = #{record.type}
	AND p. STATUS = 0
	AND p.id = a.provider_id
	AND a.area_id in
   		<foreach collection="record.areaList" item="area" open="(" close=")" separator="," >
        	#{area}
   		</foreach>
  </select>
  
  <select id="getServiceProviderById" resultType="java.util.HashMap" parameterType="java.lang.Integer" >
  	select id,name from t_sys_service_provider where id = #{id}
  </select>
  
</mapper>